table{
    font-family:'Calibri';
    font-size:15px;
    background-color:#fff;
    color:#333;
}
.modal-header{
    background-color:#333;
    color:#fff;
}
input{
    margin-top:5px;
}
.btn-primary{
    margin-top:5px;
}