table{
    font-family:'Calibri';
    font-size:15px;
    background-color:#fff;
    color:#333;
}
.modal-header{
    background-color:#333;
    color:#fff;
}
input{
    margin-top:5px;
}
.btn-primary{
    margin-top:5px;
}

* {
  margin: 0;
  padding: 0;
}

a {
	color: white;
	font-style: italic;
}

body { background-color:#333; 
	
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
#container {
	width: 800px;
	margin: auto;
	
	text-align: center;
	color: white;
	font: 100px/1 'Spirax', cursive;
	
	text-shadow: 0px 0px 4px rgba(255,255,255, 0.5);
}

#contain {
	width: 800px;
	margin: auto;
	
	color: white;
	font: 100px/1 'Spirax', cursive;
	
	text-shadow: 0px 0px 4px rgba(255,255,255, 0.5);
}


#container p {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}