<!DOCTYPE html>
<html>
        <% include navbar.html %>
	<head>
		<title>Message Board</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <script src='/jquery-3.1.1.min.js'></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.js"></script>
		<!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src='/template.js'></script>
        <link rel="stylesheet" type="text/css" href="template.css">
		<script src='/testlogin.js'></script>
	</head>
	<body>

<style>
	form {
		max-width: 320px;
		display: block;
		margin: 0 auto;
		border: 2px solid hotpink;
		padding: 10px;
		margin-top: 10px;
		border-radius: 4px;
		transition: all 0.5s linear;
		background-color: white;
	}
	form > * {
		margin-bottom: 10px;
	}
	form:hover {
		box-shadow: 0 0 10px gray;
	}
</style>
<form>
	<h1>Customer Login</h1>
	<h3>Email</h3>
	<input 
		type = "email"
		id ='user'
		name='user' 
		class='form-control'
		placeholder='Enter Email'
		autofocus>
	<h3>Password</h3>
	<input 
		type='password' 
		id='password'
		name='password'
		class='form-control'
		placeholder='Password'>
	<button type='button'
		id ='div11'
		class='btn btn-primary'
	>Log In</button>
	
</form>
	

	<body>
</html>