<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <script src='/jquery-3.1.1.min.js'></script>    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src='/template.js'></script>
        <link rel="stylesheet" type="text/css" href="template.css">
    </head>
    <body>
        <div id="container">
        <h2>Longest Work Order</h2></div>
        <div class="container">
	<div class="row">

                    <div class="panel panel-primary product">
                        <div class="panel-heading">
                            <h3 class="panel-title">Longest Work Order</h3>
                            <div class="pull-right">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                    <i class="glyphicon glyphicon-filter"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Products" />
                        </div>
                        <table class="table table-hover" id="dev-table">
                                <%function formatDate(date) {
                                    var d = new Date(date),
                                        month = '' + (d.getMonth() + 1),
                                        day = '' + d.getDate(),
                                        year = d.getFullYear();
                                
                                    if (month.length < 2) month = '0' + month;
                                    if (day.length < 2) day = '0' + day;
                                
                                    return [year, month, day].join('-');
                                }%>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Receive Date</th>
                                    <th>Delivered Date</th>
                                    <th>Complete Date</th>
                                    <th>Estimated Date(days)</th>
                                    <th>Po_ID</th>
                                    <th>Staff_ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <%for(var i = 0 ; i < item.length;i++){%>
                                        <% if(i < item.length){ %>
                                        <tr> 
                                               <td id = "col1_ID<%=item[i].Product_ID%>"><%=item[i].Wo_id%></td>
                                               <td id = "col2_ID<%=item[i].Product_ID%>"><%=formatDate(item[i].Recieved_Date)%></td>
                                               <td id = "col3_ID<%=item[i].Product_ID%>"><%=formatDate(item[i].Delivery_Date)%></td>
                                               <td id = "col1_ID<%=item[i].Product_ID%>"><%=formatDate(item[i].Complete_Date)%></td>
                                               <td id = "col2_ID<%=item[i].Product_ID%>"><%=item[i].Estimated_Date%></td>
                                               <td id = "col3_ID<%=item[i].Product_ID%>"><%=item[i].Po_ID%></td>
                                               <td id = "col1_ID<%=item[i].Product_ID%>"><%=item[i].Head_Staff%></td>
                                               <td id = "col2_ID<%=item[i].Product_ID%>"><%=item[i].Staff_First_Name+" "+item[i].Staff_Last_Name%></td>
                                               <td id = "col3_ID<%=item[i].Product_ID%>"><%=item[i].Description%></td>
                                        </tr>
                                        <% } %>

                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
	</div>
</div>
    </body>
    <script>
    /**
*   I don't recommend using this plugin on large tables, I just wrote it to make the demo useable. It will work fine for smaller tables 
*   but will likely encounter performance issues on larger tables.
*
*		<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
*		$(input-element).filterTable()
*		
*	The important attributes are 'data-action="filter"' and 'data-filters="#table-selector"'
*/
(function(){
    'use strict';
	var $ = jQuery;
	$.fn.extend({
		filterTable: function(){
			return this.each(function(){
				$(this).on('keyup', function(e){
					$('.filterTable_no_results').remove();
					var $this = $(this), 
                        search = $this.val().toLowerCase(), 
                        target = $this.attr('data-filters'), 
                        $target = $(target), 
                        $rows = $target.find('tbody tr');
                        
					if(search == '') {
						$rows.show(); 
					} else {
						$rows.each(function(){
							var $this = $(this);
							$this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
						})
						if($target.find('tbody tr:visible').size() === 0) {
							var col_count = $target.find('tr').first().find('td').size();
							var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
							$target.find('tbody').append(no_results);
						}
					}
				});
			});
		}
	});
	$('[data-action="filter"]').filterTable();
})(jQuery);

$(function(){
    // attach table filter plugin to inputs
	$('[data-action="filter"]').filterTable();
	
	$('.container').on('click', '.panel-heading span.filter', function(e){
		var $this = $(this), 
			$panel = $this.parents('.panel');
		
		$panel.find('.panel-body').slideToggle();
		if($this.css('display') != 'none') {
			$panel.find('.panel-body input').focus();
		}
	});
	$('[data-toggle="tooltip"]').tooltip();
})
    </script>
</html>
