<nav class="navbar navbar-inverse fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">CPE332 Warehouse</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="register">Register</a></li>
          <li><a href="/customerlogin">Login</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="buyorder">Buy Order</a></li>
          <li><a href="customer">Customer</a></li>
          <li><a href="material">Material</a></li>
          <li><a href="materialorder">Material Order</a></li>
          <li><a href="product">Product</a></li>
          <li><a href="purchaseorder">Purchase Order</a></li>
          <li><a href="returnmaterial">Return Material</a></li>
          <li><a href="returnproduct">Return Product</a></li>
          <li><a href="staff">Staff</a></li>
          <li><a href="supplier">Supplier</a></li>
          <li><a href="warehouse">Warehouse</a></li>
          <li><a href="workorder">Work Order</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>