<nav class="navbar navbar-inverse fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">CPE332 Warehouse</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="register">Register</a></li>
          <li><a href="/customerlogin">Login</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="buyorder">Buy Order</a></li>
          <li><a href="customer">Customer</a></li>
          <li><a href="material">Material</a></li>
          <li><a href="materialorder">Material Order</a></li>
          <li><a href="product">Product</a></li>
          <li><a href="purchaseorder">Purchase Order</a></li>
          <li><a href="returnmaterial">Return Material</a></li>
          <li><a href="returnproduct">Return Product</a></li>
          <li><a href="supplier">Supplier</a></li>
          <li><a href="warehouse">Warehouse</a></li>
          <li><a href="workorder">Work Order</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Report Analysis <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="MaterialFlowSelectMat">Material Flow Select Material</a></li>
          <li><a href="MaterialFlowSelectDate">Material Flow Select Date</a></li>
          <li><a href="PopularProduct">Popular Product</a></li>
          <li><a href="BestSalesProduct">Best Sales Product</a></li>
          <li><a href="ProductFlowSelectDate">Product Flow Select Date</a></li>
          <li><a href="BestSalesProduct">Best Sales Product</a></li> 
          <li><a href="StockBalance">Stock Balance</a></li> 
          <li><a href="BestSalesProduct">Best Sales Product</a></li> 
          <li><a href="mostreturnproduct">Most Return Product</a></li> 
          <li><a href="mostbuyorder">Most Buy Order</a></li> 
          <li><a href="mostpurchasecustomer">Most Purchase Customer</a></li> 
          <li><a href="mostreturnproduct">Most Return Product</a></li> 
          <li><a href="longestWorkOrder">Longest Work Order</a></li> 
          <li><a href="productflowselectproduct">Product Flow Select Product</a></li> 
          <li><a href="reportstockslow">Stock Slow Move</a></li> 

        </ul>
      </li>
    </ul>
  </div>
</nav>