<!DOCTYPE html>
<html>
	<head>
		<title>Message Board</title>
		<link rel="stylesheet" 
			href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src='https://icode.run/jquery.js'>
		</script>
	</head>
	<body>

<style>
	form {
		max-width: 320px;
		display: block;
		margin: 0 auto;
		border: 2px solid hotpink;
		padding: 10px;
		margin-top: 10px;
		border-radius: 4px;
		transition: all 0.5s linear;
	}
	form > * {
		margin-bottom: 10px;
	}
	form:hover {
		box-shadow: 0 0 10px gray;
	}
</style>

<form method='post' >
	<h1>Staff Login</h1>
	<input 
		name='user' 
		type="email" 
		class='form-control'
		placeholder='Enter Email'
		autofocus>
	<input 
		type='password' 
		name='password'
		class='form-control'
		placeholder='Password'>
	<button type='submit'
		class='btn btn-primary'
	>Log In</button>
</form>


	<body>
</html>